$grid-column-header-color: $light-color !dynamic;
$grid-column-header-font-size: round($font-size * 1.1) !dynamic;
$grid-column-header-line-height: round($grid-column-header-font-size * 1.45) !dynamic;
