$grid-header-background-color: #fff !dynamic;
$grid-header-border-color: $neutral-color !dynamic;
$grid-header-padding: 7px 10px 6px !dynamic;
$grid-header-trigger-glyph-color: $neutral-dark-color !dynamic;
$grid-header-sort-icon-spacing: 5px !dynamic;
