body {
    background-color: #111;
    padding: 5px;
}

.button-table {
    background-color: #FFF;
    margin: 5px 0;
}

.header {
    background-color: #EEE;
    font-size: 10px;
}

.first {
    width: 60px;
}

.button-table, .cell {
    border: 1px solid #DDD;
}

.button-table th.cell {
    text-align: center;
}

.button-table .cell {
    padding: 5px;
}

.small-icon {
    background-image: url(16x16.png);
}

.medium-icon {
    background-image: url(24x24.png);
}

.large-icon {
    background-image: url(32x32.png);
}

#config-list {
    color: #FFF;
    margin-top: 20px;
}

#config-list li {
    list-style-type: disc;
    margin-left: 40px;
}
