.issueVersion {
    font-size: 9px;
    position: absolute;
    padding:1px;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background: #eee;
    border: 1px solid #ccc;
}

.modeLink {
    bottom: 4em;
}

.issueVersion i {
    font-style: normal;
}

.status {
    top:60px;
    font-size: 18px;
    position: absolute;
    right: 10px;
}

.status .pass {
    background-color: #0f0;
}

.status .fail {
    background-color: red;
    color: white;
}
